- if @current_resource.present?
  $('body').addClass('_is_lightbox_mode');
  - lightbox_player = render(partial: "partials/lightbox_#{@current_resource.mime}", locals: {resource: @current_resource})
  $('#lightbox').removeClass().addClass("_is_#{@current_resource.mime}");
  $('#lightbox_player').html("#{j(lightbox_player.html_safe)}");
  window.history.pushState(null, 'GS', "#{@partial_url}");

  // display left and right arrow
  - lightbox_next_prev_buttons = render(partial: "partials/lightbox_next_prev_buttons", locals: {idx: @resource_index})
  $('#lightbox_next_prev_buttons').html("#{j(lightbox_next_prev_buttons.html_safe)}");

  // translate markdown
  $('#lightbox._is_text #lightbox_display').html(marked(decodeURIComponent($('#preview-desc-value').val())));

  // update lightbox class
  - lightbox_class = @current_resource.description.present? ?  '' : '_has_no_description'
  - lightbox_class = @current_resource.thumbnail.present? ? lightbox_class : '_has_no_thumbnail ' + lightbox_class
  - lightbox_class = " _is_#{@current_resource.mime} " + lightbox_class
  $('#lightbox').removeClass().addClass("#{j(lightbox_class)}");