#lightbox_next_prev_buttons
  = render partial: "partials/lightbox_next_prev_buttons"
  
- if @current_resource
  %input{id: 'lightbox-markdownDescription', type:'hidden', value: get_description(@current_resource) }
  #lightbox_player.lightbox_player.prevent-quit
    %h1.lightbox_player_title
      = @current_resource.title
      .lightbox_player_subtitle
        - if @current_resource.is_text?
          - if @collection.belongs_to?(current_user)
            = link_to edit_collection_resource_path(@collection, @current_resource) do
              = icon('edit')
              Edit Article
        - else
          = link_to @current_resource.url, target: '_blank' do
            = icon('external-link')
            View Original
    .lightbox_player_content
      - if @current_resource.thumbnail.present? && @current_resource.should_present_thumbnail?
        = link_to image_tag(@current_resource.thumbnail), @current_resource.url, target: '_blank'

      .lightbox_player_html
        - if @current_resource.content.present?
          = @current_resource.content.html_safe
        - elsif @current_resource.embedded_html.present?
          = @current_resource.embedded_html.html_safe
        - elsif @current_resource.description.present?
          = @current_resource.description.html_safe
      - if @current_resource.is_link? && !@current_resource.content.present? && !@current_resource.embedded_html.present? && @current_resource.description.present?
        .lightbox_player_subtitle
          = link_to "See More", @current_resource.url, target: '_blank'