- content_for :user_show_menu_header do
  - "#{@user.username}'s collections"

.content
  .collection-header
    .brand-row.row
      .col-100.brand>
        = "#{@user.username}'s collections"
  - if current_user
    .collection-new
      = link_to new_collection_path, class: '' do
        = icon('plus-square')
        New Collection
  .collection-container
    .collections
      - if is_current_user?(@user)
        - empty_string = '<div class="collections_empty"><div>Create a collcetion now. It could be food recipes, photos, tutorial videos or any links!</div><a href="'+new_collection_path()+'"><div class="btn-large btn-success">'+icon('plus')+' Create my first collection</div></a></div>'
      - else
        - empty_string = '<div class="collections_empty">There is no collection yet.</div>'
      = render(@collections) || empty_string.html_safe
    #paginator
      = link_to_next_page @collections, '<div class="btn-large">more collections</div>'.html_safe, remote: true