= link_to '<div class="btn-large">Create collection</div>'.html_safe, new_collection_path, class: 'right'

.content
  .collection-header
    .brand-row.row
      .col-100.brand>
        = "#{@user.username}'s collections"

  .collection-container
    .collections
      - if is_current_user?(@user)
        - empty_string = '<div class="collections_empty"><div>Create a collcetion now. It could be food recipes, photos, tutorial videos or any links!</div><a href="'+new_collection_path()+'"><div class="btn-large btn-success">'+icon('plus')+' Create my first collection</div></a></div>'
      - else
        - empty_string = '<div class="collections_empty">There is no collection yet.</div>'
      = render(@collections) || empty_string.html_safe
    #paginator
      = link_to_next_page @collections, '<div class="btn-large">more collections</div>'.html_safe, remote: true