.content
	.backLink
		= link_to "#{collection_path(@collection.id)}", id: 'navbar_back' do
			= "	#{icon('arrow-left')} Go Back".html_safe
	= form_for [@collection, @resource] do |f|
		= f.hidden_field :mime, value: @mime
		- if @mime == 'text'
			= f.text_field :title, placeholder: 'Edit title here', autofocus: true
			.toolbar.row
				.col-100
					= f.button 'H1', id:'h1-btn', class: 'btn-editor btn-edit'
					= f.button 'H2', id:'h2-btn', class: 'btn-editor btn-edit'
					= f.button 'H3', id:'h3-btn', class: 'btn-editor btn-edit'
					= f.button icon('bold'), id:'bold-btn', class: 'btn-editor btn-edit'
					= f.button icon('italic'), id:'italic-btn', class: 'btn-editor btn-edit'
					.div.spacer
					= f.button icon('link'), id:'link-btn', class: 'btn-editor btn-edit'
					= f.button icon('image'), id:'image-btn', class: 'btn-editor btn-edit'
					.div.spacer
					= f.button icon('eye'), id:'preview-btn', class: 'btn-editor'
			= f.text_area :description, id: 'resource-description', placeholder: 'Write something...'
			#markdown-preview
		- if @mime == 'link' || @mime == 'video'
			= f.text_field :url, placeholder: 'Post url here', id: 'link-url', autofocus: true
			= f.hidden_field :title, id: 'link-title'
			= f.hidden_field :description, id: 'link-description'

		.submission
			= f.submit 'Create', class: 'btn-normal'
		.preview