.navbar
	.navbar_item.col-40>
	.navbar_item.col-60>
		- if @collection.belongs_to? current_user
			= link_to edit_collection_resource_path(@collection, @resource) do
				.btn-large.right
					Edit Resource

- html_title(@resource.title.first(50))
- html_description(@resource.description)
- cache @resource do
	.content{class: @resource.mime}
		.backLink
			= link_to "#{collection_path(@resource.collection.id)}", id: 'navbar_back' do
				= "	#{icon('arrow-left')} Go Back".html_safe

		.single-col
			.title.col-100
				- print_title(@resource, '', false)
		.embed.col-100
			- print_embed(@resource) if @resource.embedded_html.present?
		%input{id:'desc-value', type:'hidden', value: get_description(@resource) }
		.description.col-100
			- if @resource.mime != 'text'
				= auto_link @resource.description