.row
	.col-100
		= link_to "Back to #{@course.name}", course_path(@course)
.row
	.title.col-100
		= @resource.title
.row
	.embed.col-100
		- cache @resource do
			- if @resource.embedded_html.present?
				= @resource.embedded_html.html_safe
.row
	.description.col-100
		= @resource.description.html_safe