= form_for @course do |f|
	.row.toolbar
		.col-100
			= f.button 'Cancel', class: 'btn-normal btn-cancel right', :'data-dest' => "#{course_path(@course)}"
			= f.submit 'Save', class: 'btn-normal right'
	.row
		.col-100
			= f.text_field :name, placeholder: @course.name, disabled: true
	.row
		.col-100
			= f.button 'None', class: 'btn-large'
			= f.button 'Beginner', class: 'btn-large'
			= f.button 'Intermediate', class: 'btn-large'
			= f.button 'Expert', class: 'btn-large'
	.row
		.col-100
			= f.text_area :description, placeholder: @course.description, disabled: true
	.row.document-buttons
		.col-100
			= link_to '<div class="resource-btn text-btn">+ Text</div>'.html_safe, new_course_resource_path(@course.id, mime: 'text')
			= link_to '<div class="resource-btn video-btn">+ Video</div>'.html_safe, new_course_resource_path(@course.id, mime: 'video')
			= link_to '<div class="resource-btn link-btn">+ Link</div>'.html_safe, new_course_resource_path(@course.id, mime: 'link')
	- @course.resources.each do |r|
		.row.document
			.col-10
				- resource_icon(r.mime)
			.col-90
				= link_to r.title, course_resource_path(@course, r)