= form_for @course, remote: true do |f|
	.row.toolbar
		.col-100
			= f.button 'Cancel', class: 'btn-normal btn-cancel right', :'data-dest' => "#{course_path(@course)}"
			= f.submit 'Save', class: 'btn-normal right'
	.row
		.col-100
			= f.text_field :name, value: @course.name
	.row
		.col-100
			= f.hidden_field :difficulty, id: 'course-difficulty'
			- difficulty_btn('Beginner', 'beginner' == @course.difficulty)
			- difficulty_btn('Intermediate', 'difficulty' == @course.difficulty)
			- difficulty_btn('Expert', 'expert' == @course.difficulty)
	.row
		.col-100
			= f.text_area :description, value: @course.description
	.row.document-buttons
		.col-100
			= link_to '<div class="resource-btn">+ Text</div>'.html_safe, new_course_resource_path(@course.id, mime: 'text')
			= link_to '<div class="resource-btn">+ Video</div>'.html_safe, new_course_resource_path(@course.id, mime: 'video')
			= link_to '<div class="resource-btn">+ Link</div>'.html_safe, new_course_resource_path(@course.id, mime: 'link')
	- @course.resources.each do |r|
		.row.document
			.col-10
				- resource_icon(r.mime)
			.col-90
				= link_to r.title, course_resource_path(@course, r)