.course-header
	.back
		= link_to 'Back to Course List', courses_path
	.title
		= @course.name
	= link_to '<div class="course-btn">Edit this course</div>'.html_safe, edit_course_path(@course.id)

.document.row
	.col-100
		= @course.description.html_safe
	- @course.resources.each do |r|
		.row
			.col-10
				- resource_icon(r.mime)
			.title.col-90
				= link_to r.title, course_resource_path(@course, r)