.course-header
	.title
		= @course.name
	= link_to '<div class="course-btn">Edit this course</div>'.html_safe, edit_course_path(@course.id)
.row
	.col-100
		= @course.description.html_safe
- @course.resources.each do |r|
	.row
		.col-100
			= r.title
	.row
		.col-100
			= r.description.html_safe