- cache @course do
	.course-header
		.row
			.col-60>
			.col-30>
				= link_to '<div class="course-btn">Edit this course</div>'.html_safe, edit_course_path(@course.id), class: 'right'
			.col-10
				= link_to "<div class=\"delete-btn-large\">#{icon('trash')}</div>".html_safe, course_path(@course.id), method: :delete, class: 'right'
		.row
			.col-100.title
				= @course.name

	.document.row
		.description.col-100
			= @course.description.html_safe
		- @course.resources.each do |r|
			- cache r do
				.row
					.col-10>
						- resource_icon(r.mime)
					.title.col-90
						= link_to r.title, course_resource_path(@course, r), title: r.title