!!!
%html
	%head
		%title Gain Something
		%link{href:'http://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css'}
		%link{href:'http://fonts.googleapis.com/css?family=Slabo+13px', rel:'stylesheet', type:'text/css'}
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= analytics_init if Rails.env.production? or Rails.env.development?
- body_class = params[:action]
- body_class += ' present' if params[:p] == '1'
- lightbox_class = "_is_#{@current_resource.mime}" if @current_resource.present?
%body{id: "#{params[:controller]}", class: body_class}
	#lightbox{class: lightbox_class}
		#lightbox_player
			%input{id:'preview-desc-value', type:'hidden', value: get_description(@current_resource) }
			%h1#lightbox_title
				- print_title(@current_resource)
			#lightbox_display
				- print_embedded_or_thumbnail(@current_resource)
			.btn-close
				= link_to icon('close'), '#', remote: true
	#notifier
		= flash[:error]
		= flash[:notice]
	#menu.sideMenu
		%ul.scrollable
			%li.sideMenu_item
				= link_to 'Home', root_path, class: 'sideMenu_link'
			- if @user
				%li.sideMenu_item
					= link_to @user.name, user_path(@user), class: 'sideMenu_link'
				%li.sideMenu_item
					= link_to 'Log Out', destroy_user_session_path, method: 'DELETE', class: 'sideMenu_link'
			- else
				%li.sideMenu_item
					= link_to 'Log In', new_user_session_path, class: 'sideMenu_link'
	#overlay
	#main
		.btn-menu
		= yield
		#editor
			%form#text-form
				#mdeditor
				.resource-cancel-btn
					Cancel
			%form#link-form
				%label
					Link Mode
				.resource-cancel-btn
					Cancel
			%form#video-form
				%label
					Video Mode
				.resource-cancel-btn
					Cancel
			%form#file-form
				%label
					File Mode
				.resource-cancel-btn
					Cancel