!!!
%html
	%head
		%title 
			= yield(:title).empty? ? "Gain Something" : yield(:title)
		%meta{name:'twitter:title', property:'og:title', itemprop: 'title name', content: yield(:title).empty? ? "Gain Something" : yield(:title)}
		%meta{name:'twitter:description', property:'og:description', itemprop: 'description', content: yield(:description).empty? ? "Gain Something - A simple website collector" : yield(:description)}
		%link{href:'http://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css'}
		%link{href:'http://fonts.googleapis.com/css?family=Slabo+13px', rel:'stylesheet', type:'text/css'}
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= analytics_init if Rails.env.production? or Rails.env.development?
- body_class = params[:action]
- body_class += ' _is_lightbox_mode' if params[:p] == '1'
%body{id: "#{params[:controller]}", class: body_class}
	= render partial: 'partials/dialog'
	- if @current_resource.present?
		= render partial: 'partials/lightbox', :locals => {resource: @current_resource}
	- if flash.present?
		#notifier
			= flash[:error]
			= flash[:notice]
	= render partial: 'partials/menu'
	#overlay
	#main
		.btn-menu
		= yield