!!!
%html
	%head
		%title Gain Something
		%link{href:'http://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css'}
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= analytics_init if Rails.env.production? or Rails.env.development?
%body{class: "#{params[:controller]}"}
	#menu
		%ul.scrollable
			%li
				= link_to 'Home', root_path
			- if @user
				%li
					= @user.name
				%li
					= link_to 'Log Out', destroy_user_session_path, method: 'DELETE'
			- else
				%li
					= link_to 'Log In', new_user_session_path
	#overlay
	#main
		.menu-btn
		.content
			= yield
		#editor
			%form#text-form
				#mdeditor
				.resource-cancel-btn
					Cancel
			%form#link-form
				%label
					Link Mode
				.resource-cancel-btn
					Cancel
			%form#video-form
				%label
					Video Mode
				.resource-cancel-btn
					Cancel
			%form#file-form
				%label
					File Mode
				.resource-cancel-btn
					Cancel